.board {
  display: grid;
  width: 600px;
  height: 600px;
}

.content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode {
  margin-bottom: 60px;
}

.buttons {
  margin-bottom: 30px;
}

.form {
  width: 60%;
}
